

h2 {
  font-family: "Winky Rough", sans-serif;

}


.corpo {
  font-family: Arial, sans-serif;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-size: 20px;
  background-color: #f4f4f9;

}
.corpo h2{
  font-size: 100px;
}



#navegacao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #00b7ff;
  color: black;
  padding: 10px 0;
  z-index: 1000;
  position: fixed;
  
}

#navegacao h2{
  font-size: 30px;
}

.dropdown-item i {
  padding-right: 10px;
}



#navegacao .nav-link:hover {
  color: rgb(18, 99, 22);

}
.nav-link.active {
  
  border-radius: 5px; /* Deixa o fundo arredondado para ficar mais elegante */
  padding: 5px 10px; /* Espaçamento interno */
}

#logo img {
  width: 150px;

}


#sobre,
#convenio,
#agendamento {
  margin: 50px;
}

#carouselExampleIndicators {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}



#convenio {
  background-color: rgb(31, 140, 204);
  color: white;
  padding: 0px 100px 100px;
  width: 100%;

}




#sobre,
#convenio,
#agendamento {
  text-align: center;
}





#sobre {
  margin-top: 70px;


}


#agendamento {
  border: solid rgb(31, 140, 204) 5px;
  padding: 100px;
  border-radius: 100%;
}
#agendamento h2{
  font-size: 50px;
}

#agendamento:hover {
  border: solid rgb(50, 190, 255) 5px;

}

.btn {
  background: linear-gradient(145deg, #00b7ff, #0dffdf);
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #333;
  padding: 10px 20px;
  box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: inset 4px 4px 8px #3bf32a, inset -4px -4px 8px #1eaa02;
  transform: translateY(2px);
}


.whatsapp {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 4000; 
  
  
}

.whatsapp img {
  width: 60px; 
  height: 60px;
  border-radius: 50%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease; 
}

.whatsapp img:hover {
  transform: scale(1.1); 
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  bottom: 0;
  z-index: 3000;
}


/* Estilo para dispositivos com largura máxima de 768px (celular) */
@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  #navegacao {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 15px;
  }

  #logo img {
    width: 100px;
  }

  .nav-link h2 {
    font-size: 20px;
  }

  .corpo {
    margin-top: 100px;
    
  }

  #sobre, #convenio, #agendamento {
    margin: 20px;
    padding: 10px;
  }

  #carouselExampleIndicators {
    width: 100%;
  }

  #agendamento {
    border: none;
    padding: 20px;
    border-radius: 20px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 15px;
  }
 
  .whatsapp img {
    width: 50px;
    height: 50px;
  }

  footer {
    font-size: 12px;
    width: 100%;
  }
}